.calculator {
    background: rgb(2,0,36);
    background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(42,40,80,1) 100%);
    box-shadow: inset 0 0 10px #7c78e9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    width: 420px;
}

.output {
    font-family: monospace;
    font-size: 50px;
    text-align: right;
    background: rgb(87,94,72);
    background: linear-gradient(180deg, rgba(87,94,72,1) 0%, rgba(189,212,179,1) 100%);
    box-shadow: inset 0 0 10px #333;
    width: 95%;
    height: 80px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 25px;
    padding-right: 15px;
    
}

.button-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin: 2px
}

.calc-btn {
    font-size: 30px;
    color: black;
    border: none;
    width: 100px;
    height: 100px;
    margin: 2px;
    border-radius: 3px;
    background: rgb(124,124,124);
    background: linear-gradient(315deg, rgba(124,124,124,1) 0%, rgba(226,226,226,1) 100%);
    cursor: pointer;
}

.calc-btn:hover {
    box-shadow: inset 0 0 10px rgb(88, 88, 88);
}

.red {
    color: white;
    background: rgb(102,0,0);
    background: linear-gradient(315deg, rgba(102,0,0,1) 0%, rgba(204,79,48,1) 100%);
}

.red:hover {
    box-shadow: inset 0 0 10px rgb(29, 29, 29);
}

.c {
    width: 205px;
}

.o {
    width: 310px;
}